* {
  margin: auto;
  font-family: 'Libre Franklin';
}

header {
	background: center / cover no-repeat url('/images/Header.png');
}

.big {
  font-weight: bold;
}

input,
textarea {
  border-radius: 7px;
  margin: 15px;
  padding: 15px;
}

h1 {
  font-size: 18px;
  padding-top: 35px;;
  text-align: center;
}

.container {
  background: #2F4858;
  border-radius: 10px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 50px;
}

.gold {
  background-color: #F28B01;
  color: #FFFFFF;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 20px;
  }
  .header-image {
    height: 500px;
  }
  .container {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 30px;
  }
  .header-image {
    height: 700px;;
  }
  .container {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 35px;
  }

  .container {
    margin-left: 350px;
    margin-right: 350px;
  }
}
