/*footer*/

.bottom-page {
  text-align: center;
}

.social-media {
  font-size: 25px;
}

@media only screen and (min-width: 768px) {
  .bottom-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }
  .social-media {
    font-size: 35px;
  }
}