/*footer*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.social-media {
  background-color: rgba(242, 139, 1, 0.9);
  font-size: 25px;
  padding: 2px;
  text-align: center;
  margin-top: 100px;
}

.newsletter{
  padding: 10px;
  margin: 30px;
  line-height: 40px;
}

.copyright {
  font-size: 10px;
  text-align: center;
}

.mentions {
  list-style: none;
}

@media only screen and (min-width: 768px) {
  footer {
    font-size: 20px;
  }
  .social-media {
    font-size: 35px;
  }
  .copyright {
    text-align: center;
    font-size: 10px;
  }
}

@media only screen and (min-width: 992px) {
  footer {
    font-size: 25px;
  }
  .social-media {
    margin-top: 100px;
    font-size: 45px;
  }
  .copyright {
  font-size: 15px;
  text-align: center;
  }
  .mentions{
  font-size: 20px;
  }
}