* {
	box-sizing: border-box;
	font-family: 'Libre Franklin', sans-serif;
	margin: 0;
	padding: 0;
}

.button_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none;
	margin: 5% 10%;
}

.button_list li {
	background-color: black;
	border: 2px solid #67328D;
	border-radius: 25px;
	padding: 2% 5%;
	box-shadow: 5px 2px 3px #232323;
	text-align: center;
	width: 20%;
}

.button_list li a {
	color: #F28B01;
}

.dropdown {
	position: relative;
}

.dropdown_content {
	background-color:rgb(87, 87, 87);
	display: none;
	flex-direction: column;
	list-style-type: none;
	position: absolute;
	right: 0;
	z-index: 10;
	width: 100%;
}

.dropdown_content  a{
	color: #fff;
	text-align: center;
}

.dropdown_content a:hover{
	background-color: rgb(87, 87, 87);
	padding: 5% 25%;
	color: #fff;
}

.dropdown:hover .dropdown_content{
	display: flex;
	
}

.dropdown:hover .page_dropdown_content{
	display: flex;
}

.header_home {
	background: center / cover no-repeat url('/images/header_picture.jpg');
	width: 100%;
	z-index: 1;
}

.nav_home {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.link_home {
	margin: 2%;
}

.logo_home {
	height: 90px;
}

.logo_header {
	width: 40%;
	max-height: 190px;
}

.navbar {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style-type: none;
	margin-top: 2%;
	width: 70%;
}

.navbar a,
.page_navbar a {
	color: #DEECF7;
	display: inline-block;
	font-size: 20px;
	padding: 8% 12%;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 100%;
}

.navbar a:hover,
.page_navbar a:hover {
	background-color: #e1d5d577;
	color: #fff;
}

.nav_external_link {
	font-size: 18px;
	padding: 8% 10%;
}

.navitem {
	width: 20%;
}

.page_dropdown_content {
	background-color: #F28B01;
	display: none;
	flex-direction: column;
	list-style-type: none;
	position: absolute;
	right: 0;
	z-index: 10;
	width: 100%;
}

.page_header {
	display: flex;
	flex-direction: row;
}

.page_navbar {
	background-color: #F28B01;
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

a{
	text-decoration: none;
	color: #232323;
	transition: color 0.3s ease;
}

a:hover{
	color:#F28B01;
}

#menuToggle{
	display: block;
	position: absolute;
	top: 50px;
	right: 50px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

#menuToggle input{
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0; 
	z-index: 2; 
	-webkit-touch-callout: none;
}

#menuToggle span{
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #cdcdcd;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	opacity 0.55s ease;
}

#menuToggle span:first-child{
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
	transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span{
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3){
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}

#menu{
	position: absolute;
	width: 300px;
	margin: -100px 0 0 0;
	padding: 50px;
	padding-top: 125px;
	right: -100px;
	background: #e1d5d577;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
	padding: 10px 0;
	font-size: 22px;
}

#menuToggle input:checked ~ ul{
	transform: none;
	opacity: 1;
}

/* h1 {
	color: white;
	font-size: 12px;
	margin-top: 550px;
	margin-right: 80px;
	text-transform: uppercase;
} */

@media screen and (max-width: 190px){
	.header_home{
		height: ;
	}
}

@media screen and (max-width: 1360px){
	.header_home{
		height: 710px;
	}
}

@media screen and (min-width: 1275px){
	.navbar_burger{
		display: none;
	}
}

@media screen and (max-width: 1274px){
	.navbar{
		display: none;
	}
}

