* {
  font-family: 'Nunito', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

header {
	background: center / cover no-repeat url('../images/Header.png');
}

h1,
p {
  text-align: justify;
  padding: 50px;
}

span {
  background-color: orange;
}