* {
  font-family: 'Nunito', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

main {
  background-color: #FFF7ED;
  line-height: 25px;
}

header {
	background: center / cover no-repeat url('../images/Header.png');
}

.presentation,
.product-one,
.product-two,
.product-three {
  background-color: rgba(255, 255, 255, 0.69);
  border-radius: 5px;
  margin: 15px;
  padding: 20px 20px 0 20px;
}

.presentation img {
  border-radius: 5px;
  padding-bottom: 25px;
  padding-top: 20px;
  width: 90%;
}

.presentation-title {
  font-size: 20px;
}

.title {
  font-size: 12px;
  line-height: 30px;
  padding: 20px 0 20px 33px;
}

.picture_class_one img,
.picture_gamme_plus img,
.picture_gamme_deluxe img {
  width: 100%;
  padding: 0 20px 0 20px;
  height: 190px;
}

ul {
  list-style-type: square;
  padding-left: 16px;
}

.no_square {
  list-style: none;
}

span {
  color: #F28B01;
}

.gold {
  background-color: #F28B01;
  color: white;
  text-transform: uppercase;
}

.plus {
  color: #F28B01;
  font-size: 30px;
}

h2 {
  padding: 0 20px 20px 0;
}

.vertical-line-one {
  border-left: 3px solid #F28B01;
  display: inline-block;
  position: absolute;
  height: 200px;
  margin-top: 80px;
  margin-left: 20px;
}

.vertical-line-two {
  border-left: 3px solid #F28B01;
  display: inline-block;
  position: absolute;
  height: 250px;
  margin-top: 95px;
  margin-left: 20px;
}

.vertical-line-three {
  border-left: 3px solid #F28B01;
  display: inline-block;
  position: absolute;
  height: 230px;
  margin-top: 95px;
  margin-left: 20px;
}

@media only screen and (min-width: 768px) {
  main {
  font-size: 20px;
  }
  .presentation img {
  width: 70%;
  }
  .vertical-line-one {
  height: 130px;
  margin-top: 90px;
  }
  .container-header {
  background-color: rgba(0, 0, 0, 0.16);
  bottom: 200px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  height: 120px;
  padding: 20px;
  position: absolute;
  width: 20%;
  }
  .vertical-line-two {
  height: 180px;
  margin-top: 93px;
  }
  .vertical-line-three {
  height: 155px;
  margin-top: 95px;
  }
  .picture_class_one img,
  .picture_gamme_plus img,
  .picture_gamme_deluxe img {
  width: 100%;
  padding: 0 20px 0 20px;
  height: 400px;
  }
  .title {
  font-size: 15px;
  line-height: 30px;
  padding: 20px 0 20px 33px;
  }
}

@media only screen and (min-width: 992px) {
  main {
  font-size: 20px;
  }
  .presentation {
  display: flex;
  padding: 100px 20px 50px 50px;
  }
  .presentation img {
  width: 35%;
  padding-right: 45px;
  padding-top: 0;
  }
  .container-header {
  background-color: rgba(0, 0, 0, 0.16);
  bottom: 200px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  height: 120px;
  padding: 20px;
  position: absolute;
  width: 20%;
  }
  .title {
  padding-left: 55px;
  }
  .vertical-line-one {
  height: 160px;
  margin-top: 120px;
  margin-left: 55px;
  }
  .vertical-line-two {
  height: 210px;
  margin-top: 120px;
  margin-left: 55px;
  }
  .vertical-line-three {
  height: 210px;
  margin-top: 120px;
  margin-left: 55px;
  }
  .picture_class_one img,
  .picture_gamme_plus img,
  .picture_gamme_deluxe img {
   height: 400px;
   padding: 0 20px 0 50px;
   width: 60%;
  }
  .product-one,
  .product-two,
  .product-three {
  margin: 45px;
  padding: 20px 20px 0 20px;
  }
  ul {
  padding-left: 30px;
  }
}