* {
    font-family: 'Franklin Gothic';
}
p{
     font-size: 20px;
 }
.presentation span{
    color: #F28B01;
}

.presentation img{
    width: 35%;
    margin-top: 5%;
}

.presentation p{
    width: 55%;
    margin-top: 80px;
    text-align: justify;
}

.presentation{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bar_home{
    width: 70%;
    background-color: #F28B01;
    height: 5px;
    display: flex;
    margin-left: 15%;
    margin-top: 5%;
}

.drone_adopte_home h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.drone_adopte_home span{
    color: #F28B01;
}

.drone_adopte_home p{
    display: flex;
    justify-content: center; 
}

/* Product gamme class 1 */

.title_product_class_1 {
    background-color: #F28B01;
    width: 20%;
    text-align: center;
    color: #fff;
    margin: 5% 0% 0% 5%;
}

.product_class_1{
    width: 50%;
    margin: 5% 0% 0% 5%;
    text-align: justify;
}

.picture_class_1{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.picture_class_1 img{
    width: 50%;   
}

/* Product gamme plus */

.title_product_plus{
    background-color: #F28B01;
    width: 17%;
    text-align: center;
    color: #fff;
    margin: 5% 0% 0% 5%; 
}


.product_plus{
    width: 50%;
    margin: 5% 0% 0% 5%;
    text-align: justify;
}

.picture_gamme_plus{
    display: flex;
    justify-content: center
}

.picture_gamme_plus img{
    width: 50%;  
}

.title_product_deluxe{
    background-color: #F28B01;
    width: 20%;
    text-align: center;
    color: #fff;
    margin: 5% 0% 0% 5%;
}

.product_deluxe{
    width: 50%;
    margin: 5% 0% 0% 5%;
    text-align: justify;
}

.picture_gamme_deluxe{
    display: flex;
    justify-content: center
}

.picture_gamme_deluxe img{
    padding-bottom: 90px;
    width: 30%;
}

@media screen and (max-width: 980px) {
    p{
        font-size: 15px;
    }

    h2{
        font-size: 20px;
    }

    .presentation{
        display: flex;
        flex-direction: column;
    }

    .presentation img{
        margin-left: 32.5%;
    }

    .presentation p{
        margin-left: 22.5%;
    }

    .title_product_deluxe h2,
    .title_product_plus h2,
    .title_product_class_1 h2{
      font-size: 20px;
    }

    .product_deluxe p,
    .product_plus p,
    .product_class_1 p{
      width: 50%;
    }

    .product_deluxe ,
    .product_plus ,
    .product_class_1 {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0px;
    }
}

@media screen and (max-width: 680px){
    
    .drone_adopte_home h2{
        font-size: 20px;
    }
}



