* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

header {
	background: center / cover no-repeat url('../images/Header.png');
}

main {
	font-size: 14px;
	text-align: center;
}

section {
	background-color: #FFF7ED;
}

h1 {
	font-size: 18px;
	text-transform: uppercase;
}

h2 {
	text-transform: uppercase;
	padding: 15px;
}

h3 {
	padding-top: 20px;
	text-transform: uppercase;
}

.title {
	padding: 4% 0;
	text-align: center;
}

.gold {
	color: #F28B01;
}

.background-gold {
	background-color: #F28B01;
	color: white;
  padding: 3% 0;
  width: 100%;
  text-align: center;
}

.image {
	display: flex;
	flex-direction: column;
}

.team {
	padding: 30px;
}

.partners {
	background-color: #FFF7ED;
	display: flex;
	flex-direction: column;
}

.drone {
	background-color: #FFFFFF;
  border-radius: 3%;
  box-shadow: 2px 5px 4px #AAAAAA;
	margin: 80px;
}

.image-drone {
	width: 100%;
}

.paragraph {
	background-color: #2F4858;
	color: #FFFFFF;
	padding: 6% 3%;
	width: 100%;
}

@media only screen and (min-width: 600px) {
	main {
		font-size: 16px;
	}

	h1 {
		font-size: 25px;
	}
	
	h2 {
		padding-top: 55px;
	}

	h3 {
		font-size: 25px;
		padding-top: 40px;
	}

	.team {
		padding: 40px;
	}
}

@media only screen and (min-width: 992px) {
	main {
		font-size: 20px;
	}

	h1 {
		font-size: 28px;
	}

	h3 {
		font-size: 25px;
		padding-top: 40px;
	}
		
	.image-drone {
		height: 150px;
		width: 250px;
	}

	.image,
	.partners {
		flex-direction: row;
		justify-content: space-around;
	}
}

